<!DOCTYPE html>
<html lang="en" class="uk-background-secondary">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../css/uikit.min.css" />
    <link rel="stylesheet" href="../css/custom.css" />
</head>
<body>
        <p id ="copyright" class="uk-margin-top uk-position-relative uk-position-center">© 2017. <strong>blackHound Studios GbR</strong> All rights reserved. <a href="../imprint.html" target="_blank">Imprint.</a> <a href="../privacy.html" target="_blank">Privacy and Cookie Policy (Your Privacy Rights)</a></p>
        <div class="uk-flex uk-flex-center">
            <img class="uk-border-circle uk-height-small" src="../images/blackhoundLogo.png" alt="blackHound Studios Logo">
        </div>   
</body>
</html>
